<div class="container">
  <h1> All the courses </h1>

  <div class="row">
    <div class="col-md-8 students-box">
      <ol>
        <% @courses.each do |course| %>
          <li>
            <p><%= course.name %></p>
            <p><%= course.duration%></p>
            <%= link_to "School", school_path(school) %>

          </li>
          <%end%>
      </ol>
    </div>
  </div>
