<div class="container">
  <h1 class="student-title">All the students </h1>
  <div class="row">
    <div class="col-md-8">
      <ol class="teachers-box">
          <% @students.each do |student| %>
          <li>
            <p>Name: <%= student.name %></p>
            <p>Age: <%= student.age %></p>

            <%= link_to "Courses", school_courses_path(@school), class: 'btn btn-default' %>
          </li>
            <% end %>
          </ol>
        </div>
    </div>
</div>
