<div class="container">
  <h1 class="course-title">All the Courses </h1>
    <div class="row">
      <div class="col-md-8 courses-box">
        <ol>
        <% @courses.each do |course| %>
          <li>
            <p>Course Name: <%= course.name %></p>
            <p>Course Duration: <%= course.duration %></p>
            <p><%= link_to "Student's courses", school_student_path(@teacher, student) %></p>
          </li>
          <%end%>
        </ol>
      </div>
    </div>
</div>
