<div class="container">
  <h1 class="home-title">Schools</h1>
  <div class="row">
    <div class="col-md-8 course-box">
      <ol class="school-box">
      <% @schools.each do |school| %>
        <li >
          <p><%= school.name %></p>
          <p><%= school.location %></p>
          <p><%= school.motto %></p>
          <%= link_to "School", school_path(school), class: 'btn btn-default' %>
        </li>
        <%end%>
      </ol>
    </div>
  </div>
</div
